# Hangzhou Data


## Observations
The following sections capture some of the observations on the data.

### Taxi Plate
In Hangzhou, or more accurately for all licenses issued in Zhejiang, the first character of the license plate is 浙 (Zhè). In the data, this sometimes appears as ¿ and sometimes as zhe in the input data files.  Specifically for Hangzhou, the second character of the license plate is A.

## Setup

In [1]:
# These packages are here solely to support the use of the IPython Notebook.
%matplotlib inline
%pylab inline

from IPython.display import HTML, display  # Allows rendering data as HTML, for example DataFrame tables.

import pandas as pd
pd.set_option('display.mpl_style', 'default')
figsize(15, 5)
print('Using pandas version', pd.__version__)

import os
from datetime import datetime

/home/dingbat/src/taxi/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2869: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

Populating the interactive namespace from numpy and matplotlib
Using pandas version 0.18.1

## Reading in the Data

With the UNIX time format, it is much faster to read in the data directly and then perform conversions on the time column.  You'll note in the cells below that we do this incrementally over a few cells.

In [2]:
from entity.loader.taxi.taxi_common import sample_df, human_size
from entity.loader.taxi.hangzhou import Hangzhou

start_time = datetime.now()

taxi_file = '/home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01'
reader = Hangzhou()
df = reader.resource_to_dataframe(taxi_file, workers=10)

print('{} to read in {} data'.format(
    datetime.now() - start_time,
    human_size(os.path.getsize(taxi_file))
))
sample_df(df)

Organization Hangzhou created
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_5M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_7M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_6M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_8M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_2M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_3M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_1M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_4M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_9M.txt for DataFrame
Composing /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01/result_10M.txt for DataFrame
DataFrame composition from /home/dingbat/data/taxi/hangzhou/2011/12/2011-12-01_09/01 complete
0:07:00.038092 to read in 4.0K data

,,latitude,longitude,speed,heading,passenger,state
common_id,timestamp,,,,,,
zheAT1776,2011-12-01 04:06:47+08:00,30.334283,120.173900,0.00,270,0,0
zheAT6720,2011-12-01 08:47:26+08:00,30.330990,120.101160,0.00,0,1,0
zheAT9629,2011-12-01 17:07:40+08:00,30.331408,120.140470,14.82,170,1,0
zheATA060,2011-12-01 23:00:57+08:00,30.275856,120.090380,48.15,340,0,0
zheATA233,2011-12-01 11:44:01+08:00,30.322386,120.168434,0.00,170,1,0

In [3]:
from entity.loader.taxi.taxi_common import (
    remove_impossible,
    remove_implausible,
    remove_safe_dups,
)
start_time = datetime.now()
df = remove_safe_dups(df)  # Remove rows where all data is the same
df = remove_impossible(df)  # Remove rows with data that is impossible
df = df[~df.index.duplicated()]  # Removes all duplicates based on the index (taxi ID + timestamp)
df.sort_index(inplace=True)
print(datetime.now() - start_time)

0:00:43.123839

In [4]:
df.iloc[:15]  # Use iloc instead of sample to help illustrate sort (next cell)

                                      latitude   longitude  speed  heading  \
common_id timestamp
zhe305680 2011-12-01 06:41:52+08:00  30.335026  120.164630  18.52      310
          2011-12-01 06:44:16+08:00  30.337242  120.156980  32.41      210
          2011-12-01 06:44:36+08:00  30.335821  120.155945  29.82      210
          2011-12-01 06:44:57+08:00  30.334871  120.155040  24.26      280
          2011-12-01 06:46:39+08:00  30.334784  120.144104  35.93      270
          2011-12-01 06:47:00+08:00  30.334770  120.141556  42.97      270
          2011-12-01 06:47:20+08:00  30.334757  120.140710   1.67      310
          2011-12-01 06:47:41+08:00  30.334816  120.140495   3.70      310
          2011-12-01 06:48:01+08:00  30.334799  120.140490   1.85      280
          2011-12-01 06:48:22+08:00  30.334269  120.140260  32.41      170
          2011-12-01 06:48:42+08:00  30.332561  120.140305  38.52      170
          2011-12-01 06:49:03+08:00  30.330685  120.140540   0.37      170
          2011-12-01 06:49:23+08:00  30.330685  120.140540   0.37      170
          2011-12-01 06:49:44+08:00  30.330685  120.140540   0.37      170
          2011-12-01 06:50:45+08:00  30.330310  120.138824  26.11      260

                                     passenger  state
common_id timestamp
zhe305680 2011-12-01 06:41:52+08:00          0      0
          2011-12-01 06:44:16+08:00          0      0
          2011-12-01 06:44:36+08:00          0      0
          2011-12-01 06:44:57+08:00          0      0
          2011-12-01 06:46:39+08:00          0      0
          2011-12-01 06:47:00+08:00          0      0
          2011-12-01 06:47:20+08:00          0      0
          2011-12-01 06:47:41+08:00          0      0
          2011-12-01 06:48:01+08:00          0      0
          2011-12-01 06:48:22+08:00          0      0
          2011-12-01 06:48:42+08:00          0      0
          2011-12-01 06:49:03+08:00          0      0
          2011-12-01 06:49:23+08:00          0      0
          2011-12-01 06:49:44+08:00          0      0
          2011-12-01 06:50:45+08:00          0      0

In [5]:
# Time range of the data can be pulled from the timestamp index.
df.index.levels[1].min(), df.index.levels[1].max()

(Timestamp('1999-11-30 08:42:48+0800', tz='Asia/Shanghai'),
 Timestamp('2011-12-01 23:59:59+0800', tz='Asia/Shanghai'))

In [6]:
# Provides each plate and will printout total number of taxis
df.index.levels[0]

Index(['zhe305680', 'zhe305691', 'zheAT0000', 'zheAT0001', 'zheAT0002',
       'zheAT0004', 'zheAT0005', 'zheAT0007', 'zheAT0008', 'zheAT0010',
       ...
       'zheATD183', 'zheATD186', 'zheATD188', 'zheATD189', 'zheATD198',
       'zheATD200', 'zhe¿LED', 'zhe¿¿', 'zhe¿¿1', 'zhe¿¿4'],
      dtype='object', name='common_id', length=7997)

In [7]:
# Provides useful information such as:
#   the data types of each column,
#   number of rows in the index,
#   memory use.
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9249070 entries, (zhe305680, 2011-12-01 06:41:52+08:00) to (zhe¿¿4, 2011-12-01 23:01:54+08:00)
Data columns (total 6 columns):
latitude     float64
longitude    float64
speed        float64
heading      int64
passenger    int64
state        int64
dtypes: float64(3), int64(3)
memory usage: 494.0+ MB

In [8]:
# Provides information for each column such as:
#   the number of samples
#   Statistics such as mean, std dev, min, max
df.describe()

,latitude,longitude,speed,heading,passenger,state
count,9.249070e+06,9.249070e+06,9.249070e+06,9.249070e+06,9.249070e+06,9.249070e+06
mean,3.027924e+01,1.201632e+02,2.056499e+01,1.675673e+02,5.725062e-01,5.999144e-02
std,4.155185e-02,5.808465e-02,2.428859e+01,1.101296e+02,4.947149e-01,2.374710e-01
min,2.990508e+01,1.197016e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.025083e+01,1.201314e+02,0.000000e+00,7.000000e+01,0.000000e+00,0.000000e+00
50%,3.028245e+01,1.201618e+02,9.000000e+00,1.700000e+02,1.000000e+00,0.000000e+00
75%,3.031024e+01,1.201824e+02,3.704000e+01,2.600000e+02,1.000000e+00,0.000000e+00
max,3.053508e+01,1.206045e+02,2.407600e+02,9.900000e+02,1.000000e+00,1.000000e+00

## Convert to Postgres

In [ ]:
for c in df.columns:
    print(df.index[:5], df[c][:5])

## Create a LineString
Apply gps filters and create a LineString.  The LineString is used in the database to support geospatial analysis.

In [ ]:
from entity.loader.taxi.taxi_common import create_linestring

taxi_partitions = df.groupby(level='common_id', sort=False)
for common_id, taxi_df in taxi_partitions:
    taxi_df.index = taxi_df.index.droplevel(0)
    ls = create_linestring(taxi_df)
    break
ls.json

# Speed Time vs. DB Time
Here we load dataframes for a few days and output the data in a per taxi form to get a better feel for the Speed Time and DB Time over a few days of data.

In [ ]:
import pandas as pd
from entity.loader.taxi.hangzhou import Hangzhou
from entity.loader.taxi.taxi_common import (
    sample_df, human_size,
    remove_impossible, remove_implausible, remove_safe_dups,
)


reader = Hangzhou()


def load_day(dir_name):
    df = reader.resource_to_dataframe(dir_name)
    df = remove_safe_dups(df)  # Remove rows where all data is the same
    df = remove_impossible(df)  # Remove rows with data that is impossible
    df = df[~df.index.duplicated()]  # Removes all duplicates based on the index (taxi ID + timestamp)
    df.sort_index(inplace=True)
    return df


days = [
    load_day('/home/dingbat/data/taxi/hangzhou/shamal_processed/2011/12/1'),
#     load_day('/home/dingbat/data/taxi/hangzhou/shamal_processed/2011/12/2'),
#     load_day('/home/dingbat/data/taxi/hangzhou/shamal_processed/2011/12/3'),
]

days_df = pd.concat(days)
days_df = reader.clean(days_df)
sample_df(days_df)

In [ ]:
days_df.index.levels[1].min(), days_df.index.levels[1].max()

In [ ]:
days_df.index.levels[0]