In [1]:
%matplotlib inline
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

matplotlib.style.use('ggplot')
figsize(15, 5)

Populating the interactive namespace from numpy and matplotlib

In [2]:
sample_size = 100
lon = list(map(lambda x: np.random.rand() * 400 - 200, [0] * sample_size))
lat = list(map(lambda x: np.random.rand() * 200 - 100, [0] * sample_size))
dates = pd.date_range('20130101', periods=sample_size)
df = pd.DataFrame({'lon': lon, 'lat': lat}, index=dates)
df[:10]

                  lat         lon
2013-01-01  87.734438  -58.268079
2013-01-02 -72.770339  -51.047801
2013-01-03  -2.810664 -189.161201
2013-01-04  88.444339  174.274723
2013-01-05  51.165727 -189.332378
2013-01-06  28.393326   -4.941915
2013-01-07 -33.346629  -18.147293
2013-01-08 -78.566096  187.292464
2013-01-09 -76.617959 -195.631009
2013-01-10  67.372003  -85.977518

In [3]:
f = (
    (df['lon'] >= -180) & (df['lon'] <= 180) &
    (df['lat'] >= -90) & (df['lat'] <= 90) 
)
f[:10]

2013-01-01     True
2013-01-02     True
2013-01-03    False
2013-01-04     True
2013-01-05    False
2013-01-06     True
2013-01-07     True
2013-01-08    False
2013-01-09    False
2013-01-10     True
Freq: D, dtype: bool

In [13]:
len(f)

100

In [4]:
~f[:10]

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
2013-01-07    False
2013-01-08     True
2013-01-09     True
2013-01-10    False
Freq: D, dtype: bool

In [5]:
df['valid'] = f
df[:10]

                  lat         lon  valid
2013-01-01  87.734438  -58.268079   True
2013-01-02 -72.770339  -51.047801   True
2013-01-03  -2.810664 -189.161201  False
2013-01-04  88.444339  174.274723   True
2013-01-05  51.165727 -189.332378  False
2013-01-06  28.393326   -4.941915   True
2013-01-07 -33.346629  -18.147293   True
2013-01-08 -78.566096  187.292464  False
2013-01-09 -76.617959 -195.631009  False
2013-01-10  67.372003  -85.977518   True

In [12]:
df['dist'] = f

def geofilter(point):
    if point['valid'] == True:
        point.dist = np.random.rand()
    else:
        point.dist = None
    return point
df = df[['lon','lat','valid','dist']].apply(geofilter, axis=1)
df[:10]

                   lon        lat  valid      dist
2013-01-01  -58.268079  87.734438   True  0.312542
2013-01-02  -51.047801 -72.770339   True  0.646351
2013-01-03 -189.161201  -2.810664  False       NaN
2013-01-04  174.274723  88.444339   True  0.173620
2013-01-05 -189.332378  51.165727  False       NaN
2013-01-06   -4.941915  28.393326   True  0.039156
2013-01-07  -18.147293 -33.346629   True  0.326047
2013-01-08  187.292464 -78.566096  False       NaN
2013-01-09 -195.631009 -76.617959  False       NaN
2013-01-10  -85.977518  67.372003   True  0.168791

In [148]:
evt = df.copy()
groups = (df.valid - df.valid.shift(1)).cumsum()
evt['group'] = (groups.diff(1) != 0).astype('int').cumsum()
evt[:10]

                   lon        lat  valid      dist  group
2013-01-01 -176.001971   7.671023   True  0.264962      1
2013-01-02  186.142630 -48.798893  False       NaN      2
2013-01-03 -198.293423 -28.919813  False       NaN      2
2013-01-04   12.379192 -45.560273   True  0.190335      3
2013-01-05 -172.965209  38.558306   True  0.031693      3
2013-01-06 -175.101141  14.903476   True  0.418072      3
2013-01-07 -155.640155  42.486752   True  0.295750      3
2013-01-08  -77.897308  77.587518   True  0.419689      3
2013-01-09 -174.093260  41.234317   True  0.058868      3
2013-01-10  124.624604 -33.577783   True  0.559910      3

In [157]:
groups = evt.groupby('group', sort=False)
for name, group in groups:
    print(group.index[0], ':', group.index[-1]-group.index[0])

2013-01-01 00:00:00 : 0 days 00:00:00
2013-01-02 00:00:00 : 1 days 00:00:00
2013-01-04 00:00:00 : 6 days 00:00:00
2013-01-11 00:00:00 : 0 days 00:00:00
2013-01-12 00:00:00 : 3 days 00:00:00
2013-01-16 00:00:00 : 0 days 00:00:00
2013-01-17 00:00:00 : 8 days 00:00:00
2013-01-26 00:00:00 : 0 days 00:00:00
2013-01-27 00:00:00 : 2 days 00:00:00
2013-01-30 00:00:00 : 0 days 00:00:00
2013-01-31 00:00:00 : 5 days 00:00:00
2013-02-06 00:00:00 : 0 days 00:00:00
2013-02-07 00:00:00 : 4 days 00:00:00
2013-02-12 00:00:00 : 1 days 00:00:00
2013-02-14 00:00:00 : 4 days 00:00:00
2013-02-19 00:00:00 : 1 days 00:00:00
2013-02-21 00:00:00 : 5 days 00:00:00
2013-02-27 00:00:00 : 0 days 00:00:00
2013-02-28 00:00:00 : 3 days 00:00:00
2013-03-04 00:00:00 : 0 days 00:00:00
2013-03-05 00:00:00 : 5 days 00:00:00
2013-03-11 00:00:00 : 0 days 00:00:00
2013-03-12 00:00:00 : 2 days 00:00:00
2013-03-15 00:00:00 : 0 days 00:00:00
2013-03-16 00:00:00 : 6 days 00:00:00
2013-03-23 00:00:00 : 0 days 00:00:00
2013-03-24 00:00:00 : 2 days 00:00:00
2013-03-27 00:00:00 : 0 days 00:00:00
2013-03-28 00:00:00 : 1 days 00:00:00
2013-03-30 00:00:00 : 0 days 00:00:00
2013-03-31 00:00:00 : 2 days 00:00:00
2013-04-03 00:00:00 : 0 days 00:00:00
2013-04-04 00:00:00 : 0 days 00:00:00
2013-04-05 00:00:00 : 0 days 00:00:00
2013-04-06 00:00:00 : 1 days 00:00:00
2013-04-08 00:00:00 : 0 days 00:00:00
2013-04-09 00:00:00 : 1 days 00:00:00

In [129]:
# pd.DataFrame({'start' : evt.groupby('group').index.first(), 
#               'end' : evt.groupby('group').index.last(),
#               'Consecutive' : evt.groupby('group').size(), 
#               'No' : evt.groupby('group').No.first()}).reset_index(drop=True)
pd.DataFrame({'start' : groups.index.first()})

AttributeError: Cannot access attribute 'index' of 'DataFrameGroupBy' objects, try using the 'apply' method